<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/CSS/find.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <!-- 헤더 -->
  <%- include("basicHeader") -%>
    <div class="form-container">
        <div class="btnBox">
            <div class="emailBtn"><b>아이디 찾기</b></div> 
        </div>

        <form id="findEmail-form">
            <input type="text" id="username" placeholder="이름을 입력해주세요" required><br>
            <input type="text" id="phone" placeholder="전화번호를 입력해주세요" required><br>
    
            <button type="submit" class="resultBtn">아이디 찾기</button>
            <div id="emailFind"></div>
        </form>
    </div>

    <div class="form-container">
        <div class="btnBox">
            <div class="passwordBtn"><b>비밀번호 재발급</b></div> 
        </div>

        <form id="resetPassword-form">
            <input type="text" id="username2" placeholder="이름을 입력해주세요" required><br>
            <input type="email" id="email" placeholder="아이디를 입력해주세요" required><br>
    
            <button type="submit" class="resultBtn">비밀번호 재발급</button>
            <div id="passwordResult"></div>
        </form>
    </div>

    <script src="/public/JS/find.js"></script>
</body>
</html>