<!-- 헤더 -->
<header id="main-header">
  <div class="headerwrap">
    <div class="logobox"><img src="/public/image/logo.png"></div>
    <div class="headerbox">
      <div class="searchicon"><img src="/public/image/search.svg"></div>
      <div class="loginicon"><img src="/public/image/login.svg"></div>
    </div>
  </div>
</header>

<!-- 네비게이션 -->
<div class="category-wrap">
  <nav class="category-nav">
    <ul class="category-box">
      <div>
        <li><a href="#">국내 여행</a></li>
      </div>
      <div>
        <li><a href="#">해외 여행</a></li>
      </div>
      <div>
        <li><a href="#">동행 모집</a></li>
      </div>
      <div>
        <li><a href="#">자유게시판</a></li>
      </div>
      <div>
        <li><a href="#">Q&A</a></li>
      </div>
    </ul>
  </nav>
</div>

<!-- 모달 배경 (오버레이) -->
<div class="modal-overlay"></div>

<!-- 로그인 모달창 -->
<div class="form-login-box">
  <div class="login-close">
    <div>로그인</div>
    <button class="close-btn">x</button>
  </div>
  <form>
    <input oninput="checkemail()" type="email" class="form-login" id="email" placeholder="아이디" />
    <div class="emailtext"></div>
    <input oninput="checkpw()" type="password" class="form-login" id="pw" placeholder="비밀번호" />
    <div class="passtext"></div>
    <div class="login-find-flex">
      <label>
        <input class="check" type="checkbox" />로그인 상태 유지
      </label>
      <!-- <a href="/">ID 찾기</a> -->
    </div>
    <button class="login-btn" onclick="login(event)">로그인</button>
  </form>

  <div class="signup-link">
    <span>아직 회원이 아니신가요?</span> <a href="/signup">회원가입하기</a>
  </div>

</div>
<link rel="stylesheet" href="/public/CSS/global.css" />
<script src="/public/js/global.js"></script>