<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- 검색창 모달 -->
<div class="search-wrap">
  <div class="search-header">
    <div class="logobox"><img src="/public/image/logo.png"></div>
    <div class="close-search">
      <div class="close"><img src="/public/image/delete.png" alt="deletebtn"></div>
    </div>
  </div>

  <div class="form">
    <div class="form-box">
      <input oninput="checkSearch()" type="text" id="search" placeholder="검색" title="검색" />
      <div class="search-box">
        <button class="deltebtn" onclick="deleteKeyword()">X</button>
        <img class="search-btn" src="/public/image/search.png">
      </div>
    </div>
  </div>
</div>

<!-- 헤더 -->
<header id="main-header">
  <div class="headerwrap">
    <div class="logobox"><a href="/"><img src="/public/image/logo.png"></a></div>
    <div class="headerbox">
      <div class="searchicon" onclick="searchModal()"><img src="/public/image/search.png"></div>
      <div class="loginbox">
        <!-- 로그인 동적 생성 -->
      </div>
    </div>
  </div>
</header>

<!-- 네비게이션 -->
<div class="category-wrap">
  <nav class="category-nav">
    <ul class="category-box">

      <li>
        <div class="cate actives" id="all">전체</div>
      </li>

      <li>
        <div class="cate" id="local">국내 여행</div>
      </li>

      <li>
        <div class="cate" id="overseas">해외 여행</div>
      </li>

      <li>
        <div class="cate" id="freeboard">자유게시판</div>
      </li>

      <li>
        <div class="cate" id="QnA">Q&A</div>
      </li>
    </ul>
  </nav>
</div>

<!-- 모달 배경 (오버레이) -->
<div class="modal-overlay"></div>

<!-- 로그인 모달창 -->
<div class="form-login-box">
  <div class="login-close">
    <button class="close-btn"><img src="/public/image/back.svg" alt="back" /></button>
    <div>로그인</div>
  </div>
  <form>
    <input oninput="emailValidCheck()" type="email" class="form-login" id="email" placeholder="아이디" />
    <div class="emailtext"></div>
    <input oninput="checkpw()" type="password" class="form-login" id="pw" placeholder="비밀번호" />
    <span class="password-container-login" onclick="togglePassword('pw','.toggle-password-login')">
      <img class="toggle-password-login" src="/public/image/visibilityoff.svg" />
    </span>
    <div class="passtext"></div>
    <div class="login-find-flex">
      <label>
        <input class="check" type="checkbox" id="stayLogin" />로그인 상태 유지
      </label>
      <a href="/">ID/PW 찾기</a>
    </div>
    <button class="login-btn" onclick="login(event)">로그인</button>
  </form>

  <div class="signup-link">
    <span>아직 회원이 아니신가요?</span> <a href="/signup">회원가입하기</a>
  </div>

  <div class="snsLogin">
    <div class="line">소셜 계정으로 간편 로그인</div>
    <a class="sns" href="/auth/naver"><img src="/public/image/naver.svg" alt="naver" /></a>
    <a class="sns" href="/auth/kakao"><img src="/public/image/kakao.svg" alt="kakao" /></a>
    <img class="sns" onclick="readyAlert()" src="/public/image/facebook.svg" alt="facebook" />
    <img class="sns" onclick="readyAlert()" src="/public/image/apple.svg" alt="apple" />
  </div>

</div>
<link rel="stylesheet" href="/public/CSS/header.css" />
<script src="/public/JS/header.js"></script>
<script src="/public/JS/global.js"></script>