<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/public/CSS/main.css" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Board</title>
</head>

<body>
  <!-- 헤더 -->
  <%- include("header") -%>

    <!-- 내용 -->
    <div class="mainwrap">
      <main class="menu">
        <div class="articleList">
          <div class="article tablehead">
            <div>번호</div>
            <div>제목</div>
            <div>글쓴이</div>
            <div>날짜</div>
            <div>좋아요</div>
            <div>이미지</div>
          </div>
          <div class="content">
            <!-- 동적 추가 -->
          </div>
        </div>
      </main>
    </div>
    <div class="write">
      <a href="/write">
        <div class="writebtn" title="글쓰기">
          <img src="/public/image/pen.svg" alt="글쓰기" />
        </div>
      </a>
    </div>

    <!-- 푸터 -->
    <%- include("footer") -%>
</body>
<script src="/public/JS/main.js"></script>

</html>