<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/public/CSS/main.css" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- 헤더 -->
  <%- include("header") -%>

    <!-- 내용 -->
    <div class="mainwrap">
      <main class="menu">
        <div class="articleList">
          <div class="article">
            <img src="/public/image/logo.png" alt="테스트" />
            <div>제목입니다.</div>
            <div>홍길동</div>
            <div>2019-12-19</div>
            <div>5</div>
          </div>

          <div class="article">
            <img src="/public/image/logo.png" alt="테스트" />
            <div>제목입니다.</div>
            <div>홍길동</div>
            <div>2019-12-19</div>
            <div>5</div>
          </div>

          <div class="article">
            <img src="/public/image/logo.png" alt="테스트" />
            <div>제목입니다.</div>
            <div>홍길동</div>
            <div>2019-12-19</div>
            <div>5</div>
          </div>

        </div>
      </main>

      <div class="flexbox"></div>
    </div>
    <!-- 푸터 -->
    <%- include("footer") -%>
</body>

</html>