<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/public/CSS/main.css" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Board</title>
</head>

<body>
  <!-- 헤더 -->
  <%- include("header") -%>

    <!-- 내용 -->
    <div class="mainwrap">
      <main class="menu">
        <div class="articleList">
          <div class="content">
            <!-- 동적 추가 -->
          </div>
        </div>
      </main>
    </div>
    <div class="write">
      <a href="/write">
        <div class="writebtn" title="글쓰기">
          <img src="/public/image/pen.svg" alt="글쓰기" />
        </div>
      </a>
    </div>
    <!-- 페이지네이션 -->
    <div class="pagination">
      <div class="first-btn" onclick="goToFirstPage()">
        << </div>
          <div class="prev-btn" onclick="goToPrevPage()">
            < </div>
              <div class="numberWrap">
                <!-- 페이지 번호 버튼 -->
              </div>
              <div class="next-btn" onclick="goToNextPage()"> > </div>
              <div class="last-btn" onclick="goToLastPage()">>></div>
          </div>
          <!-- 푸터 -->
          <%- include("footer") -%>
</body>
<script src="/public/JS/main.js"></script>

</html>