<!DOCTYPE html>
<html lang="ko">

<head>
  <link rel="stylesheet" href="/public/CSS/signup.css" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>
</head>

<body>
  <div class="container">
    <a href="/"><img class="backicon" src="/public/image/back.svg" alt="back" /></a>
    <div class="logobox">
      <div class="logoimg">
        <img src="/public/image/logo.png" />
      </div>
    </div>
    <div class="title">
      회원가입
    </div>
    <div><span class="essential">*</span> 필수항목</div>
    <form name="mainForm" id="mypage-form">
      <div class="form-box scrollbar">
        <div class="form-group">
          <label><span class="essential">*</span> 아이디</label>
          <div class="btn-box">
            <input oninput="emailValidCheck()" class="inputbox" type="email" id="email" name="email"
              placeholder="이메일을 입력해주세요" required />
            <input onclick="emailDupleCheck()" class="btn emailcheckbtn" type="button" value="중복 검사" />
          </div>
          <div class="infotext checkemail"></div>
          <div class="successtext checkemail2"></div>
        </div>
        <div class="form-group">
          <label><span class="essential">*</span> 비밀번호</label>
          <input oninput="checkPw()" class="inputbox" type="password" id="pws" name="pw" placeholder="비밀번호를 입력해주세요"
            required />
          <span class="password-container" onclick="togglePassword('pws','.toggle-password')">
            <img class="toggle-password" src="/public/image/visibilityoff.svg" />
          </span>
          <div class="infotext checkpw"></div>
        </div>
        <div class="form-group">
          <label><span class="essential">*</span> 비밀번호 확인</label>
          <input oninput="checkSame()" class="inputbox" type="password" name="pwcheck" id="passcheck"
            placeholder="비밀번호를 한번 더 입력해주세요" required />
          <span class="password-container-check" onclick="togglePassword('passcheck','.toggle-password-check')">
            <img class="toggle-password-check" src="/public/image/visibilityoff.svg" />
          </span>
          <div class="checkpw2 infotext"></div>
        </div>
        <div class="form-group">
          <label><span class="essential">*</span> 이름</label>
          <input oninput="checkname()" id="name" class="inputbox" type="text" name="name" placeholder="이름을 입력해주세요"
            required />
        </div>
        <div class="form-group">
          <label><span class="essential">*</span> 닉네임</label>
          <div class="btn-box">
            <input oninput="nickValidCheck()" id="nickname" class="inputbox" type="text" name="nickname"
              placeholder="닉네임을 입력해주세요" required />
            <input onclick="nickDupleCheck('signuppage')" class="btn checkbtn" type="button" value="중복 검사" />
          </div>
          <div class="infotext checknick"></div>
          <div class="successtext checknick2"></div>
        </div>
        <div class="form-group">
          <label>주소</label>
          <div class="btn-box">
            <input class="inputbox" onclick="changeInputText()" name="address" id="address" readonly type="text"
              placeholder="건물명, 도로명, 지번 검색" />
            <input class="btn" type="button" onclick="changeInputText()" value="주소 검색" />
          </div>
        </div>
        <div class="form-group">
          <label>성별</label>
          <div class="gender-group">
            <label><input type="radio" name="gender" value="female" />여성</label>
            <label class="gender-input"><input type="radio" name="gender" value="male" />남성</label>
          </div>
        </div>
        <!-- 생년월일 -->
        <div class="form-group">
          <label for="birth">생년월일</label>
          <div class="info" id="info__birth">
            <select class="in" name="birth1" class="box" id="birth-year">
              <option disabled selected>출생 연도</option>
            </select>
            <select class="in" name="birth2" class="box" id="birth-month">
              <option disabled selected>월</option>
            </select>
            <select class="in" name="birth3" class="box" id="birth-day">
              <option disabled selected>일</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label><span class="essential">*</span> 핸드폰 번호</label>
          <input class="inputbox" type="text" id="phone" name="phone" maxlength="13" placeholder="핸드폰 번호 입력" required />
          <div id="checkphone" class="infotext"></div>
        </div>
      </div>
      <button class="signupbtn" onclick="signup()" disabled>회원가입</button>
    </form>
  </div>
  <script src="/public/JS/global.js"></script>
  <script src="/public/JS/signup.js"></script>

</body>

</html>