<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/public/CSS/write.css" />
  <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>글쓰기</title>
</head>

<body>
  <div class="main-wrap">
    <main class="menu">
      <form name="mainForm">
        <!-- 카테고리 선택 -->
        <select id="category" name="category" onchange="changeSelect()">
          <!-- 카테고리 DB에서 가져옴 -->
        </select>
        <!-- 제목 -->
        <input id="title" type="text" name="title" placeholder="제목을 입력하세요" />
        <!-- 이미지 -->
        <div class="imgflex">
          <div class="selectimgbox">
            <label for="image-one" id="select-one">
              <div class="btn-upload"><img src="/public/image/photo.svg" /></div>
            </label>
            <input id="imageone" oninput="binCheckImg('one')" type="file" name="imageone" />
          </div>
          <div class="selectimgbox">
            <label for="image-two" id="select-two">
              <div class="btn-upload"><img src="/public/image/photo.svg" /></div>
            </label>
            <input id="imagetwo" oninput="binCheckImg('two')" type="file" name="imagetwo" />
          </div>
          <div class="selectimgbox">
            <label for="image-three" id="select-three">
              <div class="btn-upload"><img src="/public/image/photo.svg" /></div>
            </label>
            <input id="imagethree" oninput="binCheckImg('three')" type="file" name="imagethree" />
          </div>
        </div>
        <!-- 내용 -->
        <div id="content"></div>
      </form>
    </main>
  </div>
  <button onclick="submitArticle()">완료</button>
</body>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="/public/JS/write.js"></script>

</html>