<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/public/CSS/write.css" />
  <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>글쓰기</title>
</head>

<body>
  <!-- 헤더 -->
  <%- include("basicHeader") -%>
    <div class="main-wrap">
      <main class="menu">
        <form name="mainForm" class="form-box">

          <!-- 카테고리 선택 -->
          <div class="cate-box">
            <select id="category" name="category" onchange="changeSelect()">
              <!-- db 연동 -->
            </select>
            <img class="dropdown" src="/public/image/keyboard_arrow_down.svg" alt="드롭다운" />
          </div>

          <!-- 제목 -->
          <input id="title" class="title" type="text" name="title" placeholder="제목을 입력하세요" oninput="checktitle()" />

          <div class="infobox"><img src="/public/image/info.svg" />이미지는 최대 3장까지 업로드할 수 있습니다.</div>

          <!-- 이미지 -->
          <div class="filebox">
            <label for="fileInput">
              <div class="btn-upload"><img src="/public/image/photo.svg" alt="사진 선택" /></div>
            </label>
            <input type="file" id="fileInput" accept="image/*">
            <div id="fileList"></div>
          </div>
    </div>

    <!-- 내용 -->
    <div class="contentbox">
      <div id="content"></div>
    </div>

    </form>
    <div class="foot">
      <div class="footwrap">
        <div class="footbox">
          <div class="cateinfo"></div>
          <button class="completebtn" onclick="submitArticle()">완료</button>
        </div>
      </div>
    </div>

    </main>
    </div>
</body>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="/public/JS/write.js"></script>
<script src="/public/JS/writeEdit.js"></script>

</html>