body {
  margin: 0;
  padding: 0;
}

#main-header {
  width: 100%;
  border-bottom: 1.3px solid #eaedf4;
}

.headerwrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 990px;
  margin: 0 auto;
  padding: 0 20px;
}

.logobox {
  padding: 10px;
  width: 130px;
  img {
    width: 100%;
  }
}

.login-nick {
  display: flex;
  align-items: center;
  cursor: pointer;
  img {
    /* 이벤트 막기 */
    pointer-events: none;
    width: 20px;
    height: 20px;
    margin-right: 3px;
  }
}

.loginbox {
  position: relative;
}

.login-home {
  position: absolute;
  margin: auto 0;
  width: 130px;
  height: 140px;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: white;
  display: none;
  z-index: 1000;
  top: 30px;
  right: 10px;
  border-radius: 5%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  div {
    padding: 3px;
    display: flex;
  }
}

.login-homebox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  a {
    text-decoration: none;
    color: black;
  }
}

.myInfobtn,
.logoutbtn,
.mylikebtn,
.mywritebtn {
  cursor: pointer;
  img {
    margin-right: 3px;
  }
}

.myInfobtn:hover,
.logoutbtn:hover,
.mylikebtn:hover,
.mywritebtn:hover {
  background-color: #e9e9e9;
}

.usernick {
  font-size: 12px;
}

.loginicon {
  cursor: pointer;
}