main {
  padding: 0 18px;
  max-width: 860px;
  margin: 0 auto;
}

.board-info-wrap {
  margin: 50px 0;
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
}

.board-info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-info {
  display: flex;
}

.mybtn {
  display: flex;
}

.category {
  width: fit-content;
  margin-bottom: 16px;
  padding-top: 5px;
  color: rgb(128, 172, 211);
  font-size: 15px;
}

.title {
  font-size: 1.7em;
  font-weight: 600;
  margin-bottom: 10px;
}

.nickname {
  font-size: 13px;
  line-height: 1.3;
  color: #888;
  white-space: nowrap;
}

.day {
  font-size: 13px;
  color: #808080;
  white-space: nowrap;
}

.likecount {
  font-size: 13px;
  color: #808080;
  white-space: nowrap;
}
.board-info {
  span:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 13px;
    margin: 0 6px 0 10px;
    background-color: #ebebeb;
  }
}

.likebox {
  display: flex;
  color: #424242;
  font-size: 13px;
  width: fit-content;
  align-items: center;
  border-radius: 9px;
  border: 1px solid #ebebeb;
  margin-right: 5px;
  padding: 5px 10px;
  img {
    cursor: pointer;
    margin-right: 3px;
    width: 17px;
  }
}

.mybtn button {
  background-color: #09b8a6;
  color: white;
  border: none;
  margin: 0 2px;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mybtn button:hover {
  background-color: #00796b;
}

.mybtn button:focus {
  outline: none;
}

.imgbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 700px;
  }
}

.content {
  border-bottom: 1px solid #ebebeb;

  img {
    cursor: pointer;
    width: 20px;
  }
}

.inventory {
  margin-right: 8px;

  a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}

.sharebox {
  display: flex;
  margin: 10px 0;
}

.inventorywrap {
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.declaration {
  cursor: pointer;
}
