* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 전체 상자(푸터 하단에 고정하기 위해) */
.mainwrap {
  display: flex;
  flex-direction: column;
  min-height: 70.5vh;
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
  padding: 0 30px;
  margin-top: 30px;
}

/* 헤더 */
.headerwrap {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 990px;
  padding: 0 20px;
}

/* 헤더 안 상자 */
.headerbox {
  display: flex;
  align-items: center;
}

.logobox {
  padding: 10px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
  }
}

/* 검색 아이콘 */
.searchicon {
  cursor: pointer;
  img {
    width: 20px;
  }
}

/* 로그인 아이콘 */
.loginicon {
  cursor: pointer;
}

.loginbox {
  margin-left: 15px;
  position: relative;
}

.loginicon:hover {
  font-weight: bolder;
}

/* 모달 기본 스타일 */
.form-login-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%); /* 처음에는 살짝 위에 위치 */
  width: 400px;
  max-height: 600px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1002;
}

/* 모달 활성화 */
.search-wrap.active {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

/* 모달 초기 위치  */
.search-wrap {
  opacity: 0;
  transform: translateY(-100%);
  visibility: hidden;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

/* 모달 닫힐 때 */
.search-wrap.closing {
  opacity: 0;
  transform: translateY(-100%);
}

/* 배경 오버레이 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  /* transition: opacity 0.3s ease; */
  z-index: 999;
}

/* 오버레이 활성화 */
.modal-overlay.active {
  visibility: visible;
}

/* 로그인과 닫기 */
.login-close {
  position: relative;
  margin: 15px 0;
  div {
    margin: 30px 0;
    font-weight: bolder;
    font-size: 18px;
  }
}

/* 닫기 버튼 */
.close-btn {
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #888;
  margin-right: 5px;
}

.close-btn:hover {
  color: #555;
}

.form-login {
  width: 100%;
  padding: 10px;
  margin: 3px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.form-login:focus {
  outline: none;
}

.login-find-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  font-size: 14px;
  color: #646f7c;
  .check {
    margin-right: 3px;
  }
  a {
    text-decoration: none;
    color: #646f7c;
  }
}

.login-btn {
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #e6e5e5;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background-color: #f1f1f1;
}

.signup-link {
  margin: 15px 0;
  font-size: 12px;
  span {
    color: #646f7c;
  }
  a {
    text-decoration: none;
    color: rgb(255, 53, 53);
  }
}

/* 카테고리 */
.category-nav {
  width: 100%;
}

.category-box {
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  li {
    text-align: center;
    list-style-type: none;
    margin: 0 3.13vw;
    color: rgb(107, 107, 107);
    font-weight: bolder;
  }
  li:hover {
    cursor: pointer;
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 2.5px;
    text-underline-offset: 17px;
  }
}

.actives {
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
  text-underline-offset: 17px;
}

.main-header {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.category-wrap {
  overflow: visible;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.emailtext,
.passtext {
  text-align: start;
  font-size: 12px;
  color: red;
  margin-bottom: 7px;
}

/* 로그인시 생기는 요소 */
.login-home {
  position: absolute;
  margin: auto 0;
  width: 130px;
  height: 140px;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: white;
  display: none;
  position: absolute;
  z-index: 1000;
  top: 30px;
  right: 10px;
  border-radius: 5%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  div {
    padding: 3px;
    display: flex;
  }
}

.login-nick {
  display: flex;
  cursor: pointer;
  img {
    pointer-events: none;
    width: 20px;
    height: 20px;
    margin-right: 3px;
  }
}

.myInfobtn,
.logoutbtn,
.mylikebtn,
.mywritebtn {
  cursor: pointer;
  img {
    margin-right: 3px;
  }
}

.myInfobtn:hover,
.logoutbtn:hover,
.mylikebtn:hover,
.mywritebtn:hover {
  background-color: #e9e9e9;
}

.login-homebox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  a {
    text-decoration: none;
    color: black;
  }
}

.form-login-box.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
}

.form-login-box.closing {
  opacity: 0;
  transform: translate(-50%, -60%);
}

/* 검색부분 */
.search-wrap {
  position: fixed;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  background-color: white;
  height: 200px;
  width: 100%;
  z-index: 1001;
}

/* 검색창 활성화 */
.search-wrap.active {
  opacity: 1;
  visibility: visible;
}

/* 검색창 닫힐 때*/
.search-wrap.closing {
  opacity: 0;
}

.search-header {
  display: flex;
  justify-content: space-between;
}

.info::placeholder {
  color: #fa7474;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-box {
  width: 50%;
  border-bottom: solid 3px rgb(62, 61, 61);
  display: flex;
  justify-content: space-between;
}

#search {
  font-size: 20px;
  padding: 10px 2px;
  background-color: transparent;
  border-style: none;
  width: 100%;
}

#search:focus {
  outline: none;
}

.close,
.search-btn {
  cursor: pointer;
}

.deletebtn {
  cursor: pointer;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  visibility: hidden;
  opacity: 0;
}
/* 삭제버튼 활성화 */
.deletebtn.active {
  opacity: 1;
  visibility: visible;
}

/* 삭제버튼 비활성화*/
.deletebtn.closing {
  opacity: 0;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-btn {
  width: 25px;
  margin-left: 10px;
}

.password-container-login {
  position: relative;
}

.toggle-password-login {
  position: absolute;
  right: 5px;
  top: 0;
  cursor: pointer;
}

.usernick {
  font-size: 12px;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.cate {
  transition: color 0.5s ease;
  white-space: nowrap;
}

.cate.actives {
  color: black;
}

.line {
  font-size: 14px;
  color: #5c667b;
  margin-bottom: 15px;
  position: relative;
}

.line::before,
.line::after {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #eaedf4;
  display: inline-block;
  position: absolute;
  top: 50%;
}

.line::before {
  left: 15px;
}

.line::after {
  right: 15px;
}

.snsLogin {
  .sns {
    margin: 0 6px;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .cate {
    font-size: 14px;
  }
  .form-box {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .cate {
    font-size: 12px;
  }
}
