.menu {
  width: 80%;
  margin: 20px auto;
}

.article {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr;
  padding: 12px;
  align-items: center;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  div {
    text-align: center;
    padding: 5px;
    font-size: 14px;
  }
  img {
    width: 20px;
    margin-left: 10px;
    display: none;
  }
  .titlebox {
    display: flex;
    justify-content: start;
    align-items: center;
  }
}

.title {
  /* flex-grow: 1; */
  text-align: left;
  margin-left: 20px;
}

/* 이미지가 있을 경우 */
.article img[src]:not([src=""]) {
  display: block;
}

.board:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.writebtn {
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  bottom: 70px;
  right: 50px;
  cursor: pointer;
  background-color: rgb(63, 200, 154);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  img {
    width: 20px;
  }
}
