* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  .backicon {
    position: absolute;
    width: 40px;
  }
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.inputbox,
button {
  width: 100%;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
}

button {
  border: none;
  cursor: pointer;
  margin-top: 10px;
  background-color: #e6e5e5;
  transition: background 0.3s ease;
}

.gender-group {
  display: flex;
}

.btn-box {
  display: flex;
}

.btn {
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid #eee;
  cursor: pointer;
  background-color: #e6e5e5;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #f1f1f1;
}

.gender-input {
  margin-left: 10px;
}

.password-container,
.password-container-check {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 5px;
  top: 0;
  cursor: pointer;
}

.toggle-password-check {
  position: absolute;
  right: 5px;
  top: 0;
  cursor: pointer;
}

#birth-year,
#birth-month,
#birth-day {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#birth-month {
  margin: 0 3px;
}

#info__birth {
  display: flex;
}

.logobox {
  display: flex;
  justify-content: center;
}

.logoimg {
  width: 120px;
  img {
    width: 100%;
  }
}

/* 회원가입 타이틀 */
.title {
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
  margin-bottom: 40px;
}

/* form상자 */
.form-box {
  overflow: auto;
  width: 100%;
  height: 62vh;
  padding: 10px;
}

.scrollbar {
  overflow-y: scroll; /*  */
}

/* 스크롤바의 폭 너비 */
.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #bababa;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  background: rgb(255, 250, 250);
}

/* 알림 */
.infotext {
  margin: 2px 0;
  font-size: 13px;
  color: rgb(199, 66, 66);
}
.successtext {
  margin: 2px 0;
  font-size: 13px;
  color: rgb(54, 190, 56);
}

.essential {
  color: rgb(199, 66, 66);
}

.essentialbox {
  font-size: 12px;
  margin-bottom: 10px;
  text-align: end;
}
